@import "base";

/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */


/* Zone User - Full Width */
#zone-user-wrapper #zone-user {
	width: 100%;
	.region-user-first {
		display: block;
		width: 50%;
		text-align: left;
		margin: 0;
		.region-inner {
			margin-left: 40px;
		}
	}
	.region-user-second {
		width: 50%;
		text-align: right;
		margin: 0;
		.region-inner {
			margin-right: 40px;
		}
	}
}

/* Menu - Header alignment */
#zone-menu-wrapper #zone-menu {
	position: relative;
	width: 100%;
	min-height: 90px;
}
#region-branding {
	margin: 0;
	width: auto;
	.region-inner {
		padding: 0 40px;
	}
}
#region-menu {
	width: 65%;
	margin: 0;
	position: initial;
	float: left;
}


/*
========================================================================== 
	Views
========================================================================== 
*/

/* Slideshow - Front Page */
.front {
	#flexslider-1.flexslider {
		height: 300px;
		border-radius: 0;
		box-shadow: none;
		.slides {
			.views-field-field-slide-image {
				img {
					height: 500px;
					width: 1920px;
					margin-left: -960px;

					filter: grayscale(100%);
				}
			}
		}
		.full {
			width: 100%;
		}
		.half {
			width: 60%;
		}
		.background-overlay {
			//background: linear-gradient(to right, $blue 0%,$blue 10%,rgba(10,112,227,0.5) 50%,$blue 90%,$blue 100%);
			height: 100%;
			width: 100%;
			position: absolute;
		}

		.views-field-nothing {
			height: 300px;
			line-height: 300px;

			&:after {

				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 100%;
			}

			> .field-content {
				width: 720px;
			}
			.slide-title {
				font-size: 3.33em;
				line-height: $line-height-std;
				margin: 0 0 25px 0;
				padding: 5px;
				text-align: left;
			}
			.slide-body {
				text-align: left;
				display: block;
				font-size: 1.83em;
				line-height: $line-height-std;
				font-weight: lighter;
				margin: 0 0 35px 0;
				position: relative;
				top: 0;	
				transition-property: top,opacity;
				transition-duration: $anim-speed;
				transition-timing-function: $anim-ease-type;
				transition-delay: $anim-speed;
				opacity: 0;
				text-shadow: 2px 2px 0 rgba(0,0,0,0.20);
				background-color: $black;
				padding: 5px;
			}
			.item-list {
				li {
					float: left;
					a {
						padding: 16px 8px;
						min-width: 115px;
						padding: 1em 2.75em;
					}
				}
			}
		}
		.extra-image {
			width: 940px;
			margin: auto;
			position: relative;
			z-index: 1;
			top: -10px;
			img {
				float: right;
				max-width: 47em;
				height: auto;
			}
		}
		.flex-control-nav {
			bottom: 35px;
		}
	}
}

/*
========================================================================== 
	Blocks
========================================================================== 
*/

/* Postscript Second - Front Page */
#block-bean-forside-signup-partner {
	padding: 45px 25px;
	.field-name-field-signup-body {
		p {
			width: 65%;
		}
	}
	.col-first {
		float: left;
		width: 50%;
		padding: 0 50px;
		border-right: 1px solid #d1d1d1;
		margin-bottom: 0;
	}
	.col-second {
		float: left;
		width: 50%;
		padding: 0 50px;
		border-right: 0;
	}
}

/* Postscript Third - Front Page */
#block-bean-forside-signup-partner-0 {
	.field-name-field-signup-body {
		p {
			width: 65%;
		}
	}
	.col-first {
		float: left;
		width: 60%;
		padding: 0 35px 0 0;
		border-right: 1px solid #d1d1d1;	
		min-height: 220px;
		margin-bottom: 0;
		box-sizing: border-box;
	}
	.col-second {
		float: left;
		width: 40%;
		padding: 0 0 0 35px;
		min-height: 220px;
		margin-bottom: 0;
		box-sizing: border-box;
	}
}

/*
========================================================================== 
	User Profile
========================================================================== 
*/
.profile {
	.col-first {
		float: left;
		width: 42%;
	}
	.col-second {
		float: left;
		width: 58%;
	}
}