.item-list ul.rrssb-buttons {
    padding:0;margin:0
}
.item-list ul.rrssb-buttons li{
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 2.5px;
}
.item-list ul.rrssb-buttons li a {
    padding: 7% 0% 7% 12%;
}
.item-list ul.rrssb-buttons li.small a {
    padding:0
}

