/**
 * Fred Tabs style.
 */
body ul.tabs li a:after {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 1px;
  right: 0;
  margin-left: 0;
  font-size: 15px;
  line-height: 17px;
}
body ul.tabs {
  text-shadow: none;
  margin: 0;
  padding: 0 !important;
  border-bottom: none !important;
  background: none !important;
}
body ul.tabs li {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(1, 1, 1, 0.15) inset;
  -moz-box-shadow: 1px 1px 1px 0px rgba(1, 1, 1, 0.15) inset;
  box-shadow: 1px 1px 1px 0px rgba(1, 1, 1, 0.15) inset;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-transition: max-width 0.2s ease, max-height 0.2s ease;
  -moz-transition: max-width 0.2s ease, max-height 0.2s ease;
  -o-transition: max-width 0.2s ease, max-height 0.2s ease;
  transition: max-width 0.2s ease, max-height 0.2s ease;
  -webkit-font-smoothing: antialiased;
  border: none;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: #666;
  color: white;
  cursor: pointer;
  padding: 8px 8px 8px 15px !important;
  border-right: 0;
  white-space: normal;
  float: left;
  overflow: hidden;
  margin: 0 10px 10px 0 !important;
}
body ul.tabs li.active,
body ul.tabs li:hover {
  background: #999;
  color: white;
}
body ul.tabs li:active {
  background: #777;
  color: white;
}
body ul.tabs li a {
  padding: 0 27px 0 0 !important;
  position: relative !important;
  top: auto !important;
  font-size: 13px !important;
  background: transparent !important;
  color: white !important;
  word-wrap: break-word;
  border: none !important;
  margin: 0 !important;
  text-shadow: none !important;
  height: auto !important;
  line-height: 17px !important;
  text-decoration: none !important;
}
body ul.tabs li a:hover,
body ul.tabs li a.active {
  background-color: transparent;
}
#block-icon-tabs-icon-tabs {
  position: relative;
}
