/*
========================================================================== 
	Base Colors
========================================================================== 
*/

$white:            #fff;
$black:            #000;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);

$blue: rgba(59, 111, 182, 1);
$blue-light: lighten($blue, 30%);
$blue-dark: darken($blue, 30%);

/*
========================================================================== 
	Element Colors
========================================================================== 
*/

/* Text */
$text-color-lighter: #a8a8a8;
$text-color-light: #96989a;
$text-color-std: #211e1f;
$text-color-dark: #000000;

/* Links */
$link-color-std: $blue;
$link-color-alt: $blue-dark;

/* Background */
$bg-color-dark: #35362e;
$bg-color-light: #d1d1d1;
$bg-color-lighter: #f5f5f2;
$bg-color-beige: #e7e7e4;