/*
========================================================================== 
	General Elements
========================================================================== 
*/
.logo-img {
	height: 90px;
	line-height: 90px;
	text-align: center;
	a {
		vertical-align: middle;
		line-height: 1;
		display: inline-block;
	}
}
#page-title {
	font-size: $font-size-larger;
	line-height: $line-height-std;
	font-weight: bold;
	margin: 0;
	padding: 0 0 30px;
}
.page-type {
	color: #c9c9c9;
	display: block;
	margin-bottom: 3px;
	text-transform: uppercase;
}
.contextual-links-region {
	width: 100%;	
	float: left;
}
table {
	width: 100%;
	tr {
		th {
			padding: 10px 10px;
			font-size: $font-size-medium;
			font-weight: bold;
		}
		td {
			padding: 10px 10px;
		}
	}
}
dl {
	dt {
		margin-bottom: 5px;
		a {
			color: $link-color-std;
			font-size: $font-size-large;
		}
	}
	dd {
		margin-bottom: 15px;
	}
}


/*
========================================================================== 
	Messages
========================================================================== 
*/
div.messages {
	margin: 15px 0;
	padding: 16px 16px 16px 50px;
	background-position: 15px 50%;
	line-height: $line-height-std;
}

/*
========================================================================== 
	Flags
========================================================================== 
*/
.flag-wrapper {
	a.flag {
		@include btn-link($link-color-std);
	}
	a.flag:hover {
		text-decoration: none;
	}
	a.unflag-action {
		background: $link-color-alt;
	}
	.flag-message {
		top: 3.25em;
	}
}

/*
========================================================================== 
	Labels
========================================================================== 
*/

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
  color: $label-color;
  background-color: $label-default-bg;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // Add hover effects, but only for links
  a {
    color: $label-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

.label-spacing {
	margin-right: .6em;
}