/**
 * @file
 * CSS File to theme LinkedInGroup Posts
 */
.founder-forum-image {
  float: left;
  width: 80px;
}
.founder-forum-data {
  float: left;
  margin-left: 15px;
  width: 83%;
}
.founder-forum-row {
  height: auto;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
}
.founder-forum-container .last {
  margin: 0;
  padding: 0;
}
.founder-forum-view-all {
  float: right;
}
