/**
 * Icon font declaration.
 */
@font-face {
  font-family: 'icontabs';
  src: url('../font/icontabs.eot?-dunsiv');
  src: url('../font/icontabs.eot?#iefix-dunsiv') format('embedded-opentype'),
    url('../font/icontabs.ttf?-dunsiv') format('truetype'),
    url('../font/icontabs.woff?-dunsiv') format('woff'),
    url('../font/icontabs.svg?-dunsiv#fredtabs') format('svg');
  font-weight: normal;
  font-style: normal;
}

body .contextual-links-region-active {
  outline: 1px dotted #bbb;
  z-index: 1;
}
body .contextual-links-wrapper {
  right: 2px;
  top: 2px;
}
body .contextual-links-wrapper .contextual-links-trigger {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  height: 23px;
  width: 23px;
}
body .contextual-links-wrapper .contextual-links-trigger:after {
  font-family: 'icontabs';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e690";
  color: #999;
  display: block;
  position: absolute;
  font-size: 15px;
  top: 3px;
  left: auto;
  right: 4px;
  text-indent: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
body .contextual-links-wrapper .contextual-links-trigger:hover:after {
  color: #666;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .contextual-links-active .contextual-links-trigger {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc !important;
  border-bottom: none !important;
  background: white !important;
}
body .contextual-links-active .contextual-links-trigger:after {
  color: #666;
  text-indent: 0;
  right: 3px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body div.contextual-links-wrapper ul.contextual-links {
  top: 22px;
}
