/* Strip all link styles default color of links to inherit
================================================================================================================== */

@mixin strip-link-styles($color:inherit, $decoration: none) {
  &:link {
    color: $color;
    text-decoration: $decoration;
  }

  &:visited {
    color: $color;
    text-decoration: $decoration;
  }

  &:hover {
    color: $color;
    text-decoration: $decoration;
  }

  &:focus {
    color: $color;
    text-decoration: $decoration;
  }
}



/* Breakpoint
================================================================================================================== */

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}
