/*
========================================================================== 
	Base Colors
========================================================================== 
*/

$green-dark: #505b00;
$green: #9fb600;
$green-light: #d1df73;
$orange: #bd5c2c;
$blue: #399dcf;
$blue-light: #72a9c3;
$turquoise: #2cbda7;
$beige: #e7e7e4;

/*
========================================================================== 
	Element Colors
========================================================================== 
*/

/* Text */
$text-color-lighter: #a8a8a8;
$text-color-light: #96989a;
$text-color-std: #211e1f;
$text-color-dark: #000000;

/* Links */
$link-color-std: $green;
$link-color-alt: #bfbfbd;

/* Background */
$bg-color-dark: #35362e;
$bg-color-light: #d1d1d1;
$bg-color-lighter: #f5f5f2;
$bg-color-beige: #e7e7e4;